.section {
  &__product {
    padding: 100px 0px 110px 0px;
    @include lg {
      padding: 70px 0px 70px 0px;
    }
    @include sm {
      padding: 35px 0px 35px 0px;
    }
  }
}
.product {
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    gap: 20px;
    @include sm {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__title {
    font-size: 42px;
    line-height: 143%;
    color: $primary;
    @include xs {
      font-size: 30px;
      line-height: 120%;
    }
  }
}
